<!DOCTYPE html>
<html>
  <head>
    <title>DesafioAceleracionProyecto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>

  </head>

  <body class="is-preload-0 is-preload-1 is-preload-2">
    <%= yield %>
    <!-- Footer -->
				<footer id="footer">
					<ul class="copyright">
						<li>&copy; Untitled.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a>.</li>
					</ul>
				</footer>
    <!-- Dependencias de JavaScript -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
